{% extends "base.html" %}
{% block content %}
<div class="row">
    {% for book in books %}
    <div class="card col-md-6">
        <div class="card-body">
            <p><a href="{% url 'detail' book.slug %}"><img src="/media/{{book.media}}" alt="" width="100%"></a></p>
            <h4><a href="{% url 'detail' book.slug %}">{{book.title|title}}</a></h4>
            <p>Public: {{book.created|date:"d-m-o"}}</p>
            <p class="font-weight-bold">Giá: ${{book.price|floatformat:2}}</p>
            <p>{{book.body|truncatechars:50}}</p>
            <p><button class="btn btn-primary">AddtoCard</button></p>
            <p><a href="{% url 'delete-book' book.id %}" class="badge badge-danger btn-sm">Delete</a></p>
        </div>
    </div>
    {% endfor %}
</div>
<hr>
<hr>
{% endblock %}